[submodule "deps/raylib"]
	path = deps/raylib
	url = https://github.com/raysan5/raylib
[submodule "deps/flecs"]
	path = deps/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "deps/bitsery"]
	path = deps/bitsery
	url = https://github.com/fraillt/bitsery
[submodule "deps/enet"]
	path = deps/enet
	url = https://github.com/zpl-c/enet
[submodule "deps/dbg-macro"]
	path = deps/dbg-macro
	url = https://github.com/sharkdp/dbg-macro
