#!/bin/bash
# This script generates a tmux environment configured for developing in vim on WSL.
# Modify the BUILD_DIR variable to point at your build location.

BUILD_DIR="build"

# ------------------------- Modify above this line -------------------------------------

SESSION="dev"

tmux new-session -d -s $SESSION -n main
# Server
tmux split-window -h -t $SESSION:0
# Client
tmux split-window -v -t $SESSION:0.1

tmux select-pane -t $SESSION:0.0


tmux send-keys -t $SESSION:0.1 -l "cd $(pwd)/$BUILD_DIR"
tmux send-keys -t $SESSION:0.1 C-m

tmux send-keys -t $SESSION:0.2 -l "cd $(pwd)/$BUILD_DIR"
tmux send-keys -t $SESSION:0.2 C-m

tmux attach -t $SESSION
